.cajapopup {
    display: none;
    position: absolute;
    top: 200px;
    left: 200px;
    width: auto;
    height: auto;
    padding: 20px;
    background: #EEEFEB;
    color: #000000;
    border: 1px solid #4D4F53;
    margin: 0px;
}
.listimage {
  width: 250px;
  height: auto;
}
.filaItemCarrito {
  width: 100%;
  height: auto;
}
div.cajapopup h2, div.cajapopup h3 {
  text-decoration: underline;
}
div.cajapopup ul {
  list-style-type: none;
}
div.cajapopup ul li ul {
  list-style-type: square;
}
